# Ignore user specific IDEA components
.idea/workspace.xml
.idea/tasks.xml
.idea/codeStyleSettings.xml

# Don't add temporary files
*~

# Eclipse
.classpath
.project
.settings
/eclipse-out
/.apt_generated/
